# One month for most static assets
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.growthallianceevv\.com$ [NC]
RewriteRule ^(.*)$ https://www.growthallianceevv.com/$1 [L,R=301]

RedirectMatch 301 /news https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/properties https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/incentives https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/workforce https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/leading-employers https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/cost-of-doing-business https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/area-maps https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/recent-relocations-and-expansions https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/demographics https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/transportation https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/government https://www.growthallianceevv.com/
RedirectMatch 301 /site-selection/shovel-ready-sites https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/workforce-data https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/population-data https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/education-data https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/tax-data https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/utility-data https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/living-here https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/recent-relocations-and-expansions https://www.growthallianceevv.com/
RedirectMatch 301 /data-facts-and-figures/area-maps https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/retention-and-expansion https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/tax-phase-in-assistance https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/kauffman-programs https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/technology-transfer https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/locate-at-innovation-pointe https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/the-station https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/licensing-permitting https://www.growthallianceevv.com/
RedirectMatch 301 /local-business-services/downtown-design-review https://www.growthallianceevv.com/
RedirectMatch 301 /technology-and-education https://www.growthallianceevv.com/
RedirectMatch 301 /technology-and-education/technology-transfer https://www.growthallianceevv.com/
RedirectMatch 301 /technology-and-education/usi-partnership https://www.growthallianceevv.com/
RedirectMatch 301 /technology-and-education/kauffman-programs https://www.growthallianceevv.com/
RedirectMatch 301 /technology-and-education/colleges-universities https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts/w-franklin-street https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts/downtown-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts/n-main-street https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts/arts-district https://www.growthallianceevv.com/
RedirectMatch 301 /cultural-districts/ue-district https://www.growthallianceevv.com/
RedirectMatch 301 /get-started/start-a-business https://www.growthallianceevv.com/
RedirectMatch 301 /get-started/grow-a-business https://www.growthallianceevv.com/
RedirectMatch 301 /news/sigma-packaging-announces-plans-to-expand-production-in-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/global-entrepreneurship-week-november-17-23 https://www.growthallianceevv.com/
RedirectMatch 301 /news/auto-industry-supplier-locates-new-manufacturing-facility-in-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /events/startup-weekend-evansville-v4.0 https://www.growthallianceevv.com/
RedirectMatch 301 /terms-of-use https://www.growthallianceevv.com/
RedirectMatch 301 /privacy-policy https://www.growthallianceevv.com/
RedirectMatch 301 /site-map https://www.growthallianceevv.com/
RedirectMatch 301 /news/pillar-innovations-expands-into-vanderburgh-county https://www.growthallianceevv.com/
RedirectMatch 301 /news/honeybaked-ham-locates-at-innovation-pointe https://www.growthallianceevv.com/
RedirectMatch 301 /news/haier-america-announces-tech-center-location-in-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/mead-johnson-announces-expansion-of-infant-formula-production-in-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/local-leaders-chosen-to-present-at-national-summit https://www.growthallianceevv.com/
RedirectMatch 301 /news/obamas-trip-to-indiana-showcases-a-microcosm-of-the-nations-manufacturing-e https://www.growthallianceevv.com/
RedirectMatch 301 /news/accuride-corporation-extends-lease-maintains-headquarters-in-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/P10 https://www.growthallianceevv.com/
RedirectMatch 301 /news/P20 https://www.growthallianceevv.com/
RedirectMatch 301 /news/P30 https://www.growthallianceevv.com/
RedirectMatch 301 /about-us/board-of-directors https://www.growthallianceevv.com/
RedirectMatch 301 /news/haier-america-selects-evansville-for-world-class-tech-center https://www.growthallianceevv.com/
RedirectMatch 301 /news/tri-state-orthopaedics-pollux-systems-inc.-join-forces-add-new-jobs-in-evan https://www.growthallianceevv.com/
RedirectMatch 301 /news/berry-plastics-announces-plans-to-relocate-manufacturing-equipment-to-india https://www.growthallianceevv.com/
RedirectMatch 301 /news/new-product-design-company-adds-jobs-locates-in-downtown-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/dsi-underground-chooses-vanderburgh-county https://www.growthallianceevv.com/
RedirectMatch 301 /news/vidal-plastics-llc-locates-at-innovation-pointe-in-downtown-evansville https://www.growthallianceevv.com/
RedirectMatch 301 /news/berry-plastics-manufacturing-expansion-creates-115-new-jobs https://www.growthallianceevv.com/
RedirectMatch 301 /news/agito-consulting-locates-at-innovation-pointe https://www.growthallianceevv.com/
RedirectMatch 301 /news/evansvilles-professional-transportation-inc.-expands-adds-100-new-jobs https://www.growthallianceevv.com/
RedirectMatch 301 /news/pgp-international-chooses-vanderburgh-county-indiana-for-sixth-u.s.-facilit https://www.growthallianceevv.com/
RedirectMatch 301 /news/the-growth-alliance-for-greater-evansville-earns-2012-partnership-award https://www.growthallianceevv.com/
RedirectMatch 301 /news/whayne-supply-company-expands-in-evansville-adding-50-employees https://www.growthallianceevv.com/
RedirectMatch 301 /news/sealcorp-usa-chooses-evansville-and-expands-adding-35-new-jobs-retaining-47 https://www.growthallianceevv.com/
RedirectMatch 301 /pay https://www.growthallianceevv.com/
RedirectMatch 301 /get-started https://www.growthallianceevv.com/
RedirectMatch 301 /about-us/about-us https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/deborah-d-dewey https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/chris-kinnett https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/shance-sizemore https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/abby-elpers https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/celia-shoulders https://www.growthallianceevv.com/
RedirectMatch 301 /contact-us/andrea-lendy https://www.growthallianceevv.com/
RedirectMatch 301 /news/whole-sun-designs-a-coworking-success https://www.growthallianceevv.com/
RedirectMatch 301 /news/celebrate-global-coworking-week https://www.growthallianceevv.com/
RedirectMatch 301 /news/coming-soon-cafe-space-for-lease-at-innovation-pointe https://www.growthallianceevv.com/
RedirectMatch 301 /news/fourth-of-july-freedom-celebration https://www.growthallianceevv.com/
RedirectMatch 301 /news/valuable-scholarships-available-for-regional-entrepreneurs https://www.growthallianceevv.com/
RedirectMatch 301 /news/local-start-up-advances-to-finals-of-spie-startup-challenge https://www.growthallianceevv.com/
RedirectMatch 301 /news/growth-alliance-annual-report-reveals-positive-economic-impacts https://www.growthallianceevv.com/
RedirectMatch 301 /news/nflow-holdings-llc-announces-the-purchase-of-wolf-brothers-motorsports-asse https://www.growthallianceevv.com/
RedirectMatch 301 /news/2013-mid-year-report https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/New_Venture_Scholarship_Application.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Vectren-IN-DriveTime.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Vectren-IN-Highway-Map.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Vectren-IN-Logistics-Map.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Vectren-IN-RailRoad-Map.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Licensing_Permitting_Process_7.9.2013.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Innovation-Pointe-Facilities-Rental-Brochure.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Design-Approval-Application-2009b.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/2014_Meeting_Schedule_DMD_UPDATED_1.7.2014.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/design_guidelines.pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/Annual_Report_For_Website_(2).pdf https://www.growthallianceevv.com/
RedirectMatch 301 /uploads/2013-Mid-Year-Report.pdf https://www.growthallianceevv.com/
